<div class="homeContainer">
    <div class="aboutMeContainer">
        <div class="personalInformation">
            <div class="photoText">
                <div class="imgContainer">
                    <img src="assets/img/profileImg.png" alt="Avatar" class="avatar">
                </div>
                <div class="textInformation">
                    <h1>Aitor Sánchez</h1>
                    <h3>Desarrollo Aplicaciones Multiplataforma</h3>
                    <h3>Desarrollo de Videojuegos</h3>
                    <div class="socials">
                        @for (socials of socialIcons; track $index) {
                            <a href="{{socials.link}}">
                                <ng-icon name="{{socials.icon}}"/>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="information" [innerHTML]="aboutMeText"></div>
        </div>
    </div>
    <div class="projectsContainer">
        <h1>Projects</h1>
        <div class="projects">
                @for (project of projects; track $index) {
                    <div class="project" [ngClass]="{'projectEven': $index % 2 === 0, 'projectOdd': $index % 2 !== 0}">
                        <img [src]="project.img" alt="project image" class="projectImg"/>
                        <div class="projectInformation">
                            <h2>{{project.name}}</h2>
                            <p>{{project.forWhat}}</p>
                            <div class="projectDescription" [innerHTML]="project.description"></div>
                        </div>
                    </div>
                }
        </div>
    </div>

</div>
