.homeContainer{
    margin: 0 auto;
    width: 56rem;
    margin-bottom: 128px;
}
.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    border: 0px solid var(--sl-color-accent);
}

.projectEven{
    background-color: var(--sl-color-table-background-1);
}
.projectOdd{
    background-color: var(--sl-color-table-background-2);
}

.projectImg{
    width: 50%;
}

.projectInformation{
    margin-left: 25px;
}

.projectInformation p{
    margin-top: -20px;
}
.projectInformation h2{
    margin-top: -10px;
}

@media(max-width: 768px){
    .homeContainer{
        margin: 0 auto;
        width: 95%;
        padding: 0 10px;
        margin-bottom: 210px;
    }
}
