<div class="curriculumScreenContainer">
    <div class="personalInformation">
        <div class="imgContainer">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="textInformation">
            <h1>Aitor Sánchez</h1>
            <h3>Desarrollo Aplicaciones Multiplataforma</h3>
            <h3>Desarrollo de Videojuegos</h3>
            <div class="socials">
                @for (socials of socialIcons; track $index) {
                    <a href="{{socials.link}}">
                        <ng-icon name="{{socials.icon}}"/>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="curriculumContaier">
        <h2>Sobre mí</h2>
        <mat-divider></mat-divider>
        <pre>{{aboutMeText}}</pre>
        <br>
        <h2>Experiencia</h2>
        <mat-divider></mat-divider>
        @for (experience of experiences; track $index) {
            <div class="experienceContainer">
                <div class="leftZone">
                    <p class="title"><u>{{experience.titulation}}</u></p>
                    <p class="place">{{experience.place}}</p>
                    <p class="duration">{{experience.duration}}</p>
                </div>
                <div class="description">
                    <p>{{experience.description}}</p>
                </div>
            </div>
        }
        <br>
        <h2>Formación</h2>
        <mat-divider/>
        @for (formation of formations; track $index) {
            <div class="experienceContainer">
                <div class="leftZone">
                    <p class="title"><u>{{formation.titulation}}</u></p>
                    <p class="place">{{formation.place}}</p>
                    <p class="duration">{{formation.duration}}</p>
                </div>
            </div>
        }
        <br>
        <h2>Skills</h2>
        <mat-divider/>
        @for (skill of skills; track $index) {
            <div class="skillTitle">
                <h4><u>{{skill.name}}</u></h4>
                @if (skill.star) {
                    <ng-icon matTooltip="Apasionado por este campo" name="bootstrapStars"/>
                }
                @if(skill.comfort){
                    <ng-icon matTooltip="Competente y seguro" name="bootstrapCodeSquare"/>
                }
                @if (skill.learning) {
                    <ng-icon matTooltip="Actualmente en proceso de aprendizaje" name="bootstrapBook"/>
                }
            </div>
            <mat-progress-bar mode="determinate" value={{skill.level*10}}></mat-progress-bar>
        }
        <br>
        <h2>Idiomas</h2>
        <mat-divider></mat-divider>
        <mat-grid-list cols="2" rowHeight="3:1">
            @for (language of languages; track $index) {
                <mat-grid-tile>
                    <div class="languagesContainer">
                        <div class="languageInfo">
                            <h4>{{language.language}}:</h4>
                        </div>
                        <div class="languageProgressBar">
                            <p>{{language.start}}</p>
                            <mat-progress-bar mode="determinate" value={{language.progressBarValue}}></mat-progress-bar>                            
                            <p>{{language.end}}</p>
                        </div>
                    </div>
                </mat-grid-tile>
            }
        </mat-grid-list>

        <br>
    </div>
</div>


