.curriculumScreenContainer{
    margin: 0 auto;
    width: 750px;
    margin-bottom: 120px;
}

.personalInformation{
    margin: 0 auto;
    width: 750px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.personalInformation img{
    width: 150px;
    height: auto;
    padding-right: 50px;
    padding-left: 15px;
}

.personalInformation .social{
    display: flex;
    flex-direction: row;
}
ng-icon{
    padding-right: 10px;   
}
a{
    color: var(--sl-color-accent-high);
}

.curriculumContainer{
    margin-bottom: 500px;
}