.bottomBar {
    display: flex;            
    align-items: center;       
    justify-content: space-between;
    position: fixed;          
    bottom: 0;                
    left: 0;                   
    right: 0;                  
    height: 60px;                
    background-color: var(--sl-color-gray-6);   
    color: var(--sl-color-accent-high);
    padding: 10px;           
    z-index: 1000;             
}

.leftElement,
.rightElement {
    display: flex;
    align-items: center; 
    cursor: pointer;
    position: absolute;
}

.leftElement{
    left: 0;
}

.rightElement{
    right: 0;
}

.centerElement {
    position: absolute;         
    left: 50%;                
    transform: translateX(-50%); 
    text-align: center;         
    white-space: nowrap;       
}
