.sidenavContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidenav{
    background-color: var(--sl-color-gray-4);
    height: 100vh;
    top: 0;
}
.itemButton{
    margin-top: 1rem;
}
.sidenav-menu-icon{
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.topBar section{
    position: relative;
    display: flex;
    height: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

.topBar section img{
    filter: invert(28%) sepia(99%) saturate(7489%) hue-rotate(357deg) brightness(107%) contrast(113%);
    margin-left: 20px;
    width: 210px;
    height: auto;
    padding-right: 50px;
    padding-left: 15px;
}
.topBar{
    border: 2px solid var(--sl-color-b);
    background-color: var(--sl-color-gray-4);
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    box-shadow: 0px 15px -15px -7px #0000002e;    
    position: sticky;
    z-index: 1000;
    transition: height 0.3s ease, box-shadow 0.3s ease;
}
.scrollableContainer{
    overflow-y: auto;
    height: 100vh;
}
.topBar.scrolled{
    height: 48px;
    box-shadow: 0px 4px 6 px rgba(0,0,0,0.1);
}

.textZone{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.homeIcon{
    right: 0;
    padding-right: 25px;
}

@media(max-width:600px){
    img{
        width: 150px;
        height: auto;
        padding-right: 50px;
        padding-left: 15px;
    }
    section {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 100%;
    }
    .textZone {
        text-align: center;
        margin-top: 10px;
    }
    .homeIcon {
        position: absolute;
        right: 15px;
        top: 15px;
        padding-right: 15px;
    }
}