<mat-sidenav-container hasBackdrop="true" class="sidenavContainer">
    <mat-sidenav #sidenav [mode]="'over'" [position]="'start'" class="sidenav">
        <button mat-icon-button class="sidenav-menu-icon" (click)="sidenav.toggle()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
        <ul>
            @for (item of sideBarElements; track $index) 
            {
                <button mat-fab extended [routerLink]="[item.path]" class="itemButton" (click)="sidenav.toggle()">
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{ item.text }}
                </button>
            }
        </ul>
    </mat-sidenav>
    <mat-toolbar class="topBar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <section>
            <img src="assets/img/logoBlanc.svg" alt="Logo montilivi"/>
            <div class="textZone">
                <h1 class="name">Aitor Sánchez</h1>
                <h3>IPOP</h3>
            </div>
            <button mat-icon-button [routerLink]="['/']"  class="homeIcon">
                <mat-icon>home</mat-icon>
            </button>
        </section>
    </mat-toolbar>
    <app-bottom-bar/>
    <router-outlet/>
</mat-sidenav-container>




